*{margin: 0px;padding: 0px}
header{background-color: #415e9b;height: 82px;border-bottom: 1px solid #133783}
.header-block{width: 992px;margin: 0 auto}

.logo{
    float: left;
    width: 50%;
    
}

.logo h1{padding-right: 40px;color: #ffffff;
	font-size: 45px;
	font-weight: bold;padding-top: 15px}
.sign-up{float: left;width: 50%}

.phone{float: left;padding-left: 130px;padding-top: 20px;padding-right: 10px}
.phone label{padding-bottom: 10px}
.password{float: left;padding-top: 20px;padding-right: 10px}
.password label{padding-bottom: 10px}
.password a{color: cornflowerblue}
.login-button{float: left;padding-top: 40px;width: 37px;height: 24px}
.log{width: 37px;height: 24px;margin-left: 2px; background-color: #5474B9; color: #ffffff; border:2px solid #3C5A99;text-align: center;font-size: 10px;font-weight: solid;}




.content{min-height: 600px;background-color: #D8DDEB}

.aside{float: left;width: 50%;min-height: 600px;padding-top:30px;}

.heading{padding-left: 170px;padding-top: 10px;color: #1d3559}
.img{padding-left: 170px;}


.sign{background-color: #D8DDEB;min-height: 600px;float: right;width: 50%}
.sign2{padding-left: 130px;padding-top: 20px;padding-right: 30px}

.input{margin-bottom: 10px;border-radius: 5px;border: 1px solid gray;height: 35px;width: 170px}
.style{width: 350px}

::-webkit-input-placeholder{
                font-size: 15px;
    color: #939d95;padding-left: 5px
            }
            :-noz-placeholder{ 
                                font-size: 20px;color: #939d95;padding-left: 5px
            }
            ::-moz-placeholder{ 
                                font-size: 20px;color: #939d95;padding-left: 5px
            }
            :-ns-input-placeholder{
                                font-size: 20px;color: #939d95;padding-left: 5px
                
            }

.bday{font-size: 20px;font-weight: bold;color: #2c3e40}

 .select_input{
                height: 30px;
                width: 60px;
                margin-top: 10px;
                margin-bottom: 10px
            }

.submit{
                height: 40px;width: 200px;text-align: center;background-color: #69AA55;color: white;font-weight: bold;border: 1px solid #3B6E22;border-radius: 7px;font-size: 17px}

.paragraph{font-size: 13px;color: black;padding-right: 160px}

.link{text-decoration: none;color: #4377a9}